@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, Arial;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 0.1em;
}

.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  background: indianred;
  color: white;
  font-size: 0.8em;
  margin: 0.2em;
  text-transform: uppercase;
  border-radius: 8px;
}

.nav-link.active {
  color: indianred !important;
}

.nav-link.active:hover {
  background: indianred;
  color: white !important;
  font-size: 0.8em;
  margin: 0.2em;
  text-transform: uppercase;
  border-radius: 8px;
}

.dropdown-menu a {
  transition: 0.5s;
}
.dropdown-menu a:hover {
  background: indianred;
  color: white;
  padding-left: 1.5em;
  text-transform: uppercase;
}

.footer .top,
.footer .mid,
.footer .bottom,
.footer hr {
  width: 60%;
}

.footer i {
  font-size: 5em;
}

.footer .top a:hover {
  color: indianred !important;
}

.footer .top .logo .text:hover {
  color: indianred !important;
  cursor: pointer;
}

.fa-facebook:hover {
  color: blue !important;
}

.fa-twitter:hover {
  color: skyblue !important;
}

.fa-whatsapp:hover {
  color: green !important;
}

.fa-youtube:hover {
  color: red !important;
}

.photo {
  height: 40vh;
  background: url(../media/about-us-page-heading.jpg) no-repeat center/cover;
}

.photo h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
}

.about-us .right {
  width: 25%;
}

.card {
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}

.feedback .form {
  width: 40%;
}

.feedback .info h1 {
  color: indianred;
}

.feedback button {
  background: indianred;
  color: white;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  transition: 0.5s;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .about-us {
    width: 90% !important;
  }
  .about-us .right {
    width: 35%;
  }

  .services .bottom {
    width: 100% !important;
  }

  .feedback .form {
    width: 50%;
  }
  .footer .top,
  .footer .mid,
  .footer .bottom,
  .footer hr {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .footer .top,
  .footer .mid,
  .footer .bottom,
  .footer hr {
    width: 80%;
  }

  .about-us {
    text-align: center;
    width: 100%;
  }
  .about-us .right {
    width: 90%;
  }
  .about-us .left,
  .about-us img {
    width: 90%;
  }
  .footer .top {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 767px) {
  .feedback .bottom {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .feedback .bottom button {
    width: 100%;
  }

  .services .bottom {
    flex-direction: column !important;
  }

  .services .bottom .card {
    width: 90% !important;
  }

  img {
    width: 90%;
  }
  .photo {
    font-size: 0.55em;
  }
}
